//Color
$white: #ffffff;
$black: #000000;
$silky-white: #f8f8f8;
$primary: #30cec3;
$secondary: #fc3054;
$light-gray: #f2f0f5;
$silver: #999;
$silver-light: #b0b0b0;

//margin, padding
$section-bottom-margin: 30px;
$section-top-padding: 100px;
